/* custom css to support my tailwind, I no fit kill myself */
.how__overlay {
    background-image: url('../../assets/howbg.png');
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
